* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: grey;
}
.contactform {
  width: 790px;
  height: 23em;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 53px;
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  border-radius: 15px 50px;
}

form {
  display: grid;
  justify-content: center;
  border-radius: 3px;
  grid-gap: 20px;
  width: 1em;

}

label {
  display: block;
}
input {
  border: none;
  border-bottom: 1px solid black;
} 

textarea {
  border: none;
  border-bottom: 1px solid black;
  width: 15em;
  height: 1em;
}

h2 {
  text-align: center;
  font-size: 28px;
}

.submitbuttn {
  justify-self: center;
  width: 110px;
}

.form-control {
  transition:all .6s;
}

.form-control:focus{
  box-shadow: none;
  border-color: red;
  outline: none;
}
